<div class="vertical-center">
  <div class="signInBox card">
    <div class="header card-header">
      <h4>Agregar Usuario</h4>
    </div>
    <div class="card-body">
      <%= render "form_new" %>
    </div>

  </div>
  <div class="card-footer">
      <%= link_to 'Regresa a Settings', admin_path, class: "btn btn-sm btn-info" %>    
  </div>
</div>