<br>
<div class="container" style="background-color: #ffffff;">
  <br>
  <div class="container" id="orderByDay">

    <%= render "orders/order_container" %>

  </div>
  <%= link_to "Pedido Nuevo", new_order_path, class: "btn btn-primary"%>
  <div></div>
  <br>
</div>

