<div class="vertical-center-sm">
  <div class="signInBox">
    <div class="header">
      <h4>Levantar Pedido</h4>
    </div>
    <%= render 'form', order: @order %>
  </div>
</div>
<%= link_to 'Regresar', root_path, class: "btn btn-sm btn-info" %>
  <div></div>
  <br>
