/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #2f57867a;
  margin: 0 !important;
}
a:visited {
  color: #ffffff;
}
a:hover {
  background-color: #fffafa00;
  font-weight: bold;
}
.inline {
  display: inline-block;
}
.no-image {
  background-color: #ffffff;
}
div.container-fluid {
  background-color: #f3955a;
}

@media (min-width: 576px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

@media (min-width: 768px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

@media (min-width: 992px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

@media (min-width: 1200px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }
