body {
  background-color: #fd7322bd;
  margin: 0 !important;
}
a:visited {
  color: #ffffff;
}
a:hover {
  background-color: #007bff!important;
  font-weight: bold;
}
.inline {
  display: inline-block;
}
.no-image {
  background-color: #ffffff;
}
div.container-fluid {
  background-image: url("tortillas.jpg");
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .vertical-center-sm {
    display: flex;
    align-items: center;
  }
 }
