body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
.app-title{
  line-height: initial;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

// Devise Customs
// Extra large devices (large desktops, 1200px and up)
.header {
  text-align: center;
}
@media (min-width: 1200px) {
  .signInBox {
    background-color: #2f5786;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #fff;    
    margin: 0 auto;
    form {
      width: 100%;
    }
    .btn-sign {
      color: #fff;
      background-color: #f3945a;
      border-color: #007bff;
    }
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 85vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .signInBox {    
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    form {
      width: 90%;
      padding-left: 8%;
    }
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 991px) {
  .signInBox {
    width: 80%;
    max-width: 480px;    
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    form {
      width: 90%;
      padding-left: 8%;
    }
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    display: flex;
    align-items: center;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .signInBox {
    width: 100%;
    max-width: 380px;    
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    form {
      width: 90%;
      padding-left: 8%;
    }
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    align-items: center;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .signInBox {
    width: 100%;
    max-width: 380px;    
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    form {
      width: 90%;
      padding-left: 8%;
    }
  }
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    align-items: center;
  }
}
