<div class="vertical-center">
  <div class="signInBox card">
    <div class="header card-header">
      <h4>Agregar Producto</h4>
    </div>
    <div class="card-body">
      <%= render 'form', product: @product %>
    </div>
    <div class="card-footer">
      <%= link_to 'Regresa a Settings', admin_path, class: "btn btn-sm btn-info" %>    
    </div>
  </div>
</div>